@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,500&display=swap');

html {
    --main-bg-color: #F7F7F7;
    --main-color-purple: #6C63FF;
    --main-color-black: #252525;
    --main-color-purple-hover: #5850DD;
    --main-color-red: #E50000;

    background-color: var(--main-bg-color);
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: var(--main-color-black);
    position: relative;
    margin: 0;
}

#mainWrapper {
    position: relative;
    width: 53.5%;
    margin: auto;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

#header {
    height: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#title {
    font-size: 5.5vh;
    flex: 1;
    display: flex;
    align-items: center;
}

#selectWrapper {
    height: 28%;
    width: 100%;
}

#select {
    height: 100%;
    width: 11.5%;
    font-size: 2.5vh;
    background-color: var(--main-color-purple);
    color: var(--main-bg-color)
}

#mainBody {
    flex: 1;
    font-size: 2.8vh;
}

#noteList {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 5% 15.3%;
}

.noteItem  {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    user-select: none;
}

.noteCheckbox {
    display: inline-block;
    height: 3.6vh;
    width: 3.6vh;

    border: 0.25vh solid var(--main-color-purple);
    border-radius: 10%;
    margin-right: 3.5%;

    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}


.noteItem.isDone .noteCheckbox {
    background-color: var(--main-color-purple);
    background-image: url("isChecked.svg");
    background-size: 2.5vh;
    background-position: 50% 35%;
    background-repeat: no-repeat;
}

.labelName {
    position: relative;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    transition: all 0.2s ease;
}

.noteItem.isDone .labelName {
    opacity: 0.5;
}

.noteItem .labelName::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
    width: 110%;
    height: 5%;
    background-color: var(--main-color-black);
    transform: scaleX(0);
    transform-origin: left center;
    transition: all 0.5s;
}

.noteItem.isDone .labelName::before {
    transform: scaleX(1);
}

.noteItem:hover *{
    box-shadow: none;
    text-shadow: none;
}